# conda create -n paper-translator python=3.11 -y
# conda activate paper-translator
# conda install pytorch==2.3.1 pytorch-cuda=12.1 -c pytorch -c nvidia -y
# pip install -r requirements.txt
marker-pdf>=0.2.16
langgraph>=0.2.3
graphrag==0.3.0
# For [win4r/GraphRAG4OpenWebUI](https://github.com/win4r/GraphRAG4OpenWebUI/tree/main)
plotly